{snippet mdcnetteSnackbar}
    {foreach $snackbars as $snackbar}
        <div id="mdcnette-snackbar"
             {if $snackbar->rtl}dir="rtl"{/if}
                n:class="'mdc-snackbar', $snackbar->alignStart ? 'mdc-snackbar--leading', $snackbar->multiline ? 'mdc-snackbar--stacked'"
             aria-live="assertive"
             aria-atomic="true"
             aria-hidden="true"
             data-message="{$snackbar->message}"
             data-action-text="{$snackbar->actionText}"
             data-wait="{$snackbar->wait}"
             data-action="{$snackbar->action}"
             data-ajax="{$snackbar->ajax}">
            <div class="mdc-snackbar__surface">
                <div class="mdc-snackbar__label" role="status" aria-live="polite"></div>
                <div class="mdc-snackbar__actions">
                    <button n:class="'mdc-button', 'mdc-snackbar__action', $snackbar->ajax ? 'ajax'"></button>
                    <button n:if="$snackbar->actionDismiss" class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
                </div>
            </div>
        </div>
        {php $snackbar->setDisplayed()}
    {/foreach}
{/snippet}